<script setup>
</script>

<template lang="pug">
article
  p Тренажер показывает случайную карточку с вопросом, которую можно виртуально перевернуть, сверить со своим ответом и нажать на кнопку, соответствующую правильности предполагаемого ответа. А потом можно глянуть статистику. Вот собственно и все. გაგიმარჯოს.
  p Если вы обнаружили ошибку в работе тренажера, пожалуйста свяжитесь со мной:
  ul
    li
      | telegram:
      a(href="https://t.me/ekiwookie")  @ekiwookie
    li
      | instagram:
      a(href="https://www.instagram.com/ekiwookie/")  @ekiwookie
    li
      | электронная почта:
      a(href="mailto:grrreen@gmail.com")  grrreen@gmail.com
  p
    | Исходный код тренажера
    a(href="https://gitlab.com/ekiwookie/kartuli-qwiz")  в gitlab
</template>
