<script setup>
import { reactive } from 'vue'
import { RouterLink, RouterView, useRoute } from 'vue-router'
import { storeToRefs } from 'pinia'

import { useStore } from '@/stores'
import numToString from '@/utils'


const store = useStore()
const route = useRoute()

const qwiz = reactive({
  mode: null,
  num: null,
  question: null,
  answer: null,
  isShowAnswer: false
})
generateNewQwiz()

function generateNewQwiz() {
  if (route.query.num) {
    qwiz.num = route.query.num
  } else {
    qwiz.num = Math.floor(Math.random() * store.settingLimit) + 1
  }
  if (store.settingMode == 'hybrid') {
    qwiz.mode = Math.random() < 0.5 ? 'kartuli' : 'numeric'
  } else {
    qwiz.mode = store.settingMode
  }
  if (qwiz.mode == 'numeric') {
    qwiz.question = qwiz.num
    qwiz.answer = numToString(qwiz.num)
  } else {
    qwiz.question = numToString(qwiz.num)
    qwiz.answer = qwiz.num
  }
}

function showAnswer() {
  qwiz.isShowAnswer = true
}

function answer(correct) {
  store.addAnswer(correct, qwiz)
  qwiz.isShowAnswer = false
  generateNewQwiz()
}
</script>

<template lang="pug">
article
  header(style="text-align: center")
    h2 {{ qwiz.question }}
    h4
      span(v-if="qwiz.isShowAnswer") {{ qwiz.answer }}
      span(v-else) * * *
  div(v-if="!qwiz.isShowAnswer")
    button(@click="showAnswer") Показать ответ
  .grid(v-else)
    button.secondary(@click="answer(false)") Неправильно
    button(@click="answer(true)") Правильно
</template>
