<script setup>
import { ref } from 'vue'
import { RouterLink, RouterView } from 'vue-router'
import { storeToRefs } from 'pinia'

import { useStore } from '@/stores'


const store = useStore()
const { settingLimit, settingMode, settingThemeDark, settingUseDelitimer } = storeToRefs(store)

const limits = ref([10, 20, 100, 1000, 10000, 1000000])
const modes = ref([
  {
    value: 'kartuli',
    label: 'Грузинский'
  },
  {
    value: 'numeric',
    label: 'Математический'
  },
  {
    value: 'hybrid',
    label: 'Гибридный'
  },

])

function changeLimit(e) {
  store.setLimit(e.srcElement.value)
}

function changeMode(e) {
  store.setMode(e.srcElement.value)
}

function changeTheme(e) {
  store.setThemeDark(e.target.checked)
}

function changeUseDelitimer(e) {
  store.setUseDelitimer(e.target.checked)
}
</script>

<template lang="pug">
article
  fieldset
    label(for="dark-theme")
      input(@change="changeTheme" type="checkbox" role="switch" id="dark-theme" name="dark-theme" :checked="settingThemeDark")
      | Темная тема
    hr
    label(for="delitimer")
      input(@change="changeUseDelitimer" type="checkbox" role="switch" id="delitimer" name="delitimer" :checked="settingUseDelitimer")
      | Показывать разделитель в сложных числах на грузинском
    hr
    fieldset(@change="changeLimit")
      legend Лимит
        label(v-for="item in limits" :for="`limit-${item}`")
          input(type="radio" :id="`limit-${item}`" name="size" :value="item" :checked="settingLimit == item")
          | до {{ item }}
    hr
    label(for="mode") Режим отображения вопроса
      select(id="mode" @change="changeMode" required)
        option(v-for="item in modes" :value="item.value" :selected="settingMode == item.value") {{ item.label }}
</template>
