<script setup>
import { ref } from 'vue'
import { RouterLink, RouterView } from 'vue-router'
import { storeToRefs } from 'pinia'

import { useStore } from '@/stores'


const store = useStore()

const stats = ref({})

function clear() {
  if (confirm("Действительно очистить статистику") == true) {
    store.clearStats()
    getStats()
  }
}

function getStat(correct, total) {
  const value = correct / total * 100
  return {
    total: total,
    correct: correct,
    percent: Math.round((value + Number.EPSILON) * 100) / 100 || 0
  }

}

function getStats(){
  const statsNumeric = store.getStats('numeric')
  const statsKartuli = store.getStats('kartuli')
  stats.value = {
    numeric: getStat(statsNumeric.correct, statsNumeric.total),
    kartuli: getStat(statsKartuli.correct, statsKartuli.total),
    total: getStat(statsKartuli.correct + statsNumeric.correct, statsKartuli.total + statsNumeric.total),
  }
}
getStats()
</script>

<template lang="pug">
article
  figure
    table
      thead
        th #
        th Вопросов
        th Из них правильно
        th %
      tr
        td На грузинском
        th {{ stats.kartuli.total }}
        th {{ stats.kartuli.correct }}
        th {{ stats.kartuli.percent }}
      tr
        td На математическом
        th {{ stats.numeric.total }}
        th {{ stats.numeric.correct }}
        th {{ stats.numeric.percent }}
      tr
        td Всего
        th {{ stats.total.total }}
        th {{ stats.total.correct }}
        th {{ stats.total.percent }}
  button(@click="clear") Сбросить статистику
</template>
