<script setup>
import { RouterLink, RouterView } from 'vue-router'
import { storeToRefs } from 'pinia'

import { useStore } from '@/stores'


const store = useStore()
store.init()
</script>

<template lang="pug">
.container
  .grid
    div
      hgroup
        h1 Kartuli Numerals Qwiz
        h2 Тренажер грузинских числительных
      p
        | გამარჯობა. О грузинской системе счисления можно почитать
        a(target="_blank" href="https://ru.wikipedia.org/wiki/%D0%93%D1%80%D1%83%D0%B7%D0%B8%D0%BD%D1%81%D0%BA%D0%B0%D1%8F_%D1%81%D0%B8%D1%81%D1%82%D0%B5%D0%BC%D0%B0_%D1%81%D1%87%D0%B8%D1%81%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F")  в википедии.
      p
        | Пожалуйста
        a(target="_blank" href="https://t.me/tumenskoedelo/334")  поддержите
        |  политзаключенных анархистов из
        a(target="_blank" href="https://zona.media/article/2022/11/18/tyumen")  тюменского дела.
      nav
        ul
          li
            RouterLink(to="/") Квиз
          li
            RouterLink(to="about") О тренажере
          li
            RouterLink(to="settings") Настройки
          li
            RouterLink(to="stats") Статистика
    div
      RouterView


</template>

